*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(68, 66, 66);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 1em 4em;
    color: white;
    background-color: rgb(70, 69, 69);
    padding: 5px;
}
.back{
    display: flex;
    margin: 1em 4em;
    justify-content: space-between;
}
.search{
    background-color: gainsboro ;
    border: 1px solid black;
}
.search input{
    border: none;
    outline: none;
    background-color: gainsboro ;
    
}
.regions{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 4em;
}
.region1{
    border: 1px solid green;
    color: white;
}
.region1 img{
    width: 100%;
    height: 200px;
}
.white{
    background-color: white;
}
.white .region1{
    color: black;
}